*
  
!search_explorer/
!search_explorer/default/
!search_explorer/default/*
!search_explorer/default/data/
!search_explorer/default/data/*
!search_explorer/default/data/ui/
!search_explorer/default/data/ui/*
!search_explorer/default/data/ui/views/
!search_explorer/default/data/ui/views/*
!search_explorer/default/data/ui/nav/
!search_explorer/default/data/ui/nav/*
!search_explorer/local/
!search_explorer/local/*
!search_explorer/local/data/
!search_explorer/local/data/*
!search_explorer/local/data/ui/
!search_explorer/local/data/ui/*
!search_explorer/local/data/ui/views/
!search_explorer/local/data/ui/views/*
!search_explorer/local/data/nav/
!search_explorer/local/data/nav/*
!search_explorer/meta/*
!search_explorer/bin/*
!search_explorer/appserver/*
!.gitignore
